.md-grid {
    max-width: 100%; 
  }

  .mermaid {
    max-width: 250%;
    overflow: scroll;
  }
  
  /* TAMAÑO DE FUENTE DEL CUERPO DE PÁGINA MARKDOWN */
  
  article {
    font-size: 34px !important;
  }

  details, article table {font-size: 34px !important;}