.md-grid {
    max-width: 100%; 
  }

  .mermaid {
    max-width: 250%;
    overflow: scroll;

  }

  .mermaid b.particl {color:red !important;}
  
  
  /* TAMAÑO DE FUENTE DEL CUERPO DE PÁGINA MARKDOWN */
  
  article {
    font-size: 34px !important;
  }

  article table 
  {font-size: 20px !important;}

  div.admonition, details
  {font-size: 28px !important;}

  div.danger ul, div.danger ol {display:none !important;}
  details.danger ul, details.danger ol {display:none !important;}
  
  [class^="admonition question"] {display:none !important;}

sup {color: blue; background-color: beige; font-size: 60%; border: 1px solid red;}
/*


  article svg {
    font-size:22px;
  }

  */

  button.active-segment {
    background-color: #2196f3;
    color: white;
    font-weight: bold;
    border: 2px solid #1976d2;
  }

  #edicion, #edicion_1 {color: red; }

  [href^="#edicion"] {color: red !important; }
  [href^="#edicion1"] {color: red !important; }
