.md-grid {
    max-width: 100%; 
  }

  .mermaid {
    max-width: 250%;
    overflow: scroll;

  }
  
  /* TAMAÑO DE FUENTE DEL CUERPO DE PÁGINA MARKDOWN */
  
  article {
    font-size: 34px !important;
  }

  article table 
  {font-size: 28px !important;}

  div.admonition, details
  {font-size: 28px !important;}

  div.danger ul, div.danger ol {display:none !important;}
  details.danger ul, details.danger ol {display:none !important;}
  
sup {color: blue; background-color: beige; font-size: 60%; border: 1px solid red;}
/*


  article svg {
    font-size:22px;
  }

  */

  button {color: black; border: 1px solid blue; border-radius: 15px; padding: 5px; content: "🔈";}
  button.play {color: blue; vertical-align: super; border: 1px solid blue;}