# Archivos y carpetas que no se deben rastrear
site/
.cache/
*.DS_Store
*.log
__pycache__/

# Archivos de sistemas Unix y macOS
*.swp
*.swo
*~

# Archivos de VS Code
.vscode/

# Archivos de Python que podrían generarse
*.pyc
*.pyo
*.pyd

# Archivos de mapas de JavaScript (ya que te dan errores de carga local, no son imprescindibles)
*.map
docs/Biblioteca/**/*.pdf
docs/BIP_2024/*.pdf