.md-grid {
    max-width: 100%; 
  }

  .mermaid {
    max-width: 250%;
    overflow: scroll;

  }
  
  /* TAMAÑO DE FUENTE DEL CUERPO DE PÁGINA MARKDOWN */
  
  article {
    font-size: 34px !important;
  }

  div.admonition, details, article table 
  {font-size: 28px !important;}

  div.danger {display:none !important;}
span.mi_nota {color: blue; background-color: beige; vertical-align: super; font-size: smaller;}
/*


  article svg {
    font-size:22px;
  }

  */